<ion-progress-bar type="indeterminate" *ngIf="ejecutando"></ion-progress-bar>

<ion-header>
  <ion-toolbar>
    <ion-title>Crear Copia de Lista</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Renombra la copia</ion-label>
    <ion-input [(ngModel)]="nombreLista" placeholder="Escribe el nombre de la copia" required></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="aceptar()">Aceptar</ion-button>
</ion-content>
