<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!isEdicion">Nuevo Producto</ion-title>
    <ion-title *ngIf="isEdicion">Editar Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="guardarProducto()">
    <ion-item>
      <ion-label position="stacked">Nombre del Producto</ion-label>
      <ion-input [(ngModel)]="newProducto.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sitio</ion-label>
      <ion-select [(ngModel)]="newProducto.sitio" name="sitio" required>
        <ion-select-option *ngFor="let sitio of sitios" [value]="sitio.nombre">{{ sitio.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botón para agregar un nuevo sitio -->
    <ion-button expand="full" color="secondary" (click)="abrirModalNuevoSitio()">
      Agregar nuevo sitio
    </ion-button>

    <ion-footer>
      <ion-button expand="full" type="submit">Guardar</ion-button>
    </ion-footer>
  </form>
</ion-content>
