<ion-header>
  <ion-toolbar>
    <ion-title>Mis Listas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let lista of listas; let i = index">
      {{ lista }}
      <ion-button color="danger" (click)="eliminarLista(i)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="nuevaLista()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
